.title {
	font-size: 2.25rem;
	line-height: 2.5rem;
	padding-bottom: 3.5rem;
	padding-top: 3.5rem;
	text-align: center;
	font-weight: bold;
}
.customerInfo h2 {
	font-size: 1.5rem;
	line-height: 2rem;
	padding-bottom: 30px;
	padding-top: 30px;
	font-weight: bold;
}
/*left*/
.Customer {
	width: 80%;
	margin: 0 auto;
	display: flex;
	margin-top: 60px;
	margin-bottom: 60px;
}
.customerNav {
	padding-right: 2rem;
	padding-left: 2rem;
	border-right: 2px solid rgb(222, 222, 222);
}
.tab_item {
	display: block;
	padding-bottom: 10px;
}
.hover1 {
	color: #555;
}
.hover1:hover {
	color: #000;
}
.active {
	font-weight: bold;
}

/*right*/
.customerInfo {
	width: 75%;
	padding-left: 100px;
}
.account_detail .wrap {
	border-bottom: 1px solid rgb(222, 222, 222);
}

.account_detail div div {
	line-height: 70px;
}
.div_button {
	width: 250px;
}

.Customer button {
	margin-top: 30px;
}
.bold {
	font-weight: bold;
}
.green_font {
	background-color: rgb(234, 247, 230);
	color: rgb(58, 135, 53);
	padding: 10px 0 10px 10px;
}

#non_ptop {
	padding-top: 0;
	padding-bottom: 0;
}
.left {
	width: 300px;
}
