.section-collection-header {
	border: none;
}

.page-header {
	margin-top: 40px;
}

.page-header .section__heading {
	font-size: 42px;
	font-weight: 700;
	line-height: 60px;
	margin-bottom: 5px;
}

.collections-grid {
	--column-gap: 30px;
	--row-gap: 30px;
	margin: 0 calc(var(--column-gap) / -2) calc(var(--row-gap, var(--column-gap)) / -1) !important;
}

.collections-column {
	padding: 0 calc(var(--column-gap) / 2) var(--row-gap, var(--column-gap));
}

.card--hover-scaling-up {
	will-change: transform;
}

.collection-card__inner {
	backface-visibility: hidden;
	cursor: pointer;
	position: relative;
	transform: translateZ(0);
}

.collection-card__image .card__image {
	backface-visibility: hidden;
	transform: scale(1) translateZ(0);
	transition: transform 0.64s cubic-bezier(0.15, 0.75, 0.5, 1) 0s;
}

.collection-card__image .img-loaded {
	animation: 0.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
	animation-name: image-fade-in;
	object-fit: scale-down;
}

@media screen and (min-width: 1280px) {
	.card--hover-scaling-up:hover .collection-card__image {
		transform: scale(1) translateZ(0);
	}
	.card--hover-scaling-up:hover .collection-card__image .card__image,
	.card--hover-scaling-up:hover .collection-card__image svg {
		transform: scale(1.1) translateZ(0);
	}
}

.collection-header {
	background-color: #fff;
}

.collection-header--small {
	padding: 30px 0;
}

.collection-header__title {
	color: inherit;
}

.collection-header__title {
	font-size: 34px;
	font-weight: 700;
}

.collection-container {
	display: flex;
	margin-bottom: 1.75rem;
	margin-top: 0.625rem;
}

.collection-container > * {
	transition: all 0.25s ease;
}

.collection-container .toolbar .toolbar-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.gridColumn-view {
	margin: 0 -5px;
}

.gridColumn-view > button {
	align-items: center;
	background-color: #f2f2f2;
	border-radius: 3px;
	height: 36px;
	justify-content: center;
	margin: 0 5px;
	transition:
		background-color 0.25s ease,
		fill 0.25s ease;
	width: 36px;
}

.gridColumn-view > button.active,
.gridColumn-view > button:hover {
	background-color: #000;
}

.gridColumn-view > button.active svg,
.gridColumn-view > button:hover svg {
	fill: #fff;
}

.product-listing .col-item {
	margin-bottom: 50px;
}

.product-listing.col-1 .col-item {
	max-width: 100%;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.product-listing.col-5 .col-item {
		max-width: 20%;
		width: 20%;
	}
	.product-listing.col-4 .col-item {
		max-width: 25%;
		width: 25%;
	}
	.product-listing.col-3 .col-item {
		max-width: 33.33333%;
		width: 33.33333%;
	}
	.product-listing.col-2 .col-item {
		max-width: 50%;
		width: 50%;
	}
}

@media (min-width: 1024px) {
	.collection-container {
		margin-bottom: 3.75rem;
		padding-top: 1.75rem;
	}
}

@media screen and (min-width: 1024px) {
	.gridColumn-view > button {
		height: 34px;
		width: 34px;
	}
}

@media screen and (min-width: 1280px) {
	.collection-container.sidebar__leftColumn .sidebar,
	.collection-container.sidebar__rightColumn .sidebar {
		flex: 0 0 340px;
		width: 340px;
	}
}

@media (min-width: 1025px) {
	.collection-header--small {
		padding: 50px 0;
	}
}
