.section-padding {
	padding-bottom: var(--section-padding-bottom, 0);
	padding-top: var(--section-padding-top, 0);
}

.product-tabs__header {
	margin-bottom: 60px;
}

.custom-select {
	line-height: 30px;
	position: relative;
}

.custom-select.select-plain {
	border-bottom: 2px solid #000;
}

.custom-select.select__custom-width {
	min-width: 250px;
}

.custom-select select {
	display: none;
}

.custom-select .select-selected {
	align-items: center;
	cursor: pointer;
	display: flex;
	font-weight: inherit;
	justify-content: space-between;
	-webkit-user-select: none;
	user-select: none;
}

.select-items,
.custom_scroll {
	overflow-y: scroll;
}

.custom-select .select-items {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 20px 30px #0000001f;
	color: #757575;
	left: 0;
	line-height: 32px;
	max-height: 60vh;
	min-width: 100%;
	opacity: 1;
	padding: 10px 20px;
	position: absolute;
	right: 0;
	top: 110%;
	transform: translateZ(0);
	transition: all 0.2s ease-in-out;
	visibility: visible;
	width: min-content;
	z-index: 80;
}

.custom-select.select-plain .select-items {
	line-height: inherit;
	padding: 20px 25px;
}

.custom-select .select-items.select-hide {
	opacity: 0;
	top: calc(100% + 20px);
	visibility: hidden;
}

.custom-select .select-selected .select-arrow {
	padding-left: 8px;
	transition: transform 0.3s ease-in-out;
}

.custom-select.select-plain .select-selected .select-arrow {
	padding-left: 20px;
}

.custom-select .select-items div {
	color: #0000004d;
	cursor: pointer;
	transition: color 0.25s ease;
	-webkit-user-select: none;
	user-select: none;
	white-space: nowrap;
}

.custom-select .select-items div.same-as-selected,
.custom-select .select-items div:hover {
	color: #000;
}

.tab-content {
	display: none;
	transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
	word-wrap: break-word;
}

.tab-content.active {
	display: block;
	opacity: 1;
}

.pcard {
	position: relative;
	height: 100%;
}

.pcard__img {
	position: relative;
}

.p-img {
	vertical-align: middle;
	width: 100%;
	display: inline-block;
}

.p-img img {
	opacity: 0;
}

.pcard .pcard__img .hover-img,
.pcard .pcard__img .hover-img img,
.pcard .pcard__img .hover-img svg {
	backface-visibility: hidden;
	transform: translateZ(0);
}

.pcard .pcard__img .main-img {
	opacity: 1;
	transition: opacity 0.8s ease;
	z-index: 10;
}

.pcard .pcard__img .hover-img {
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition:
		opacity 0.8s ease,
		transform 1.1s cubic-bezier(0.15, 0.75, 0.5, 1) 0s;
}

.pcard .pcard__content {
	margin-top: 0;
	position: relative;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.truncate-lines {
	-webkit-line-clamp: var(--product-title-line-clamp, unset);
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
}

.pcard__name {
	color: #000;
}

.pcard .background-color-expand {
	background-color: #fff;
	border-radius: 10px;
	content: "";
	display: block;
	height: 100%;
	pointer-events: none;
	position: absolute;
	top: 0;
	transform: scale(1) translateY(0) translateZ(0);
	transition: transform 0.55s cubic-bezier(0.2, 0.75, 0.5, 1);
	width: 100%;
	z-index: -1;
}

.pcard .background-color-expand:before {
	background-color: transparent;
	border-radius: inherit;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
	content: "";
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transform-origin: center;
	transition: opacity 0.55s cubic-bezier(0.2, 0.75, 0.5, 1);
	width: 100%;
	z-index: -2;
}

.pcard__action {
	position: absolute;
	right: -0.25rem;
	bottom: -1rem;
}

@media (min-width: 1025px) {
	.pcard .pcard__img:hover .hover-img {
		opacity: 1;
		transform: scale3d(1.1, 1.1, 1.1) translateZ(0);
	}

	.pcard:hover .background-color-expand {
		transform: scale(1.1) translateY(0) translateZ(0);
	}
	.pcard:hover .background-color-expand:before {
		opacity: 1;
		pointer-events: all;
	}
}

@media screen and (max-width: 1023px) {
	.section-padding {
		padding-bottom: calc(var(--section-padding-bottom, 0) * 0.75);
		padding-top: calc(var(--section-padding-top, 0) * 0.75);
	}
}

.product-tab .custom-select .select-selected .select-arrow svg {
	height: 20px;
	width: 20px;
}

.custom-select .select-selected.select-arrow-active .select-arrow {
	transform: rotateX(180deg);
}

@media screen and (max-width: 767px) {
	.section-padding {
		padding-bottom: calc(var(--section-padding-bottom, 0) * 0.5);
		padding-top: calc(var(--section-padding-top, 0) * 0.5);
	}
}

@media screen and (max-width: 1535px) {
	.product-tabs__header {
		margin-bottom: 50px;
	}
	.section__heading {
		font-size: 34px !important;
		line-height: 44px !important;
	}
	.custom-select.select__custom-width {
		min-width: 180px;
	}
}

@media screen and (max-width: 1279px) {
	.product-tabs__header {
		margin-bottom: 40px;
	}
	.section__heading {
		font-size: 30px !important;
		line-height: 40px !important;
	}
	.custom-select.select__custom-width {
		min-width: 130px;
	}
}

@media screen and (max-width: 767px) {
	.product-tabs__header {
		margin-bottom: 30px;
	}
	.section__heading {
		font-size: 24px !important;
		line-height: 34px !important;
	}
}
