.header__wrapper {
	transition: transform 0.4s, background-color 0.2s;
	width: 100%;
	will-change: transform, background-color;
	position: relative;
}

.menu-wrapper__desktop,
.options-wrapper__desktop {
	transition-duration: 0.3s;
	transition-property: width;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submenu__content {
	--column-width: 200px;
	--items-width: calc(var(--total-columns) * var(--column-width, 200px));
}

@media (min-width: 1680px) {
	.submenu__content {
		--column-width: 250px;
	}
}

.menu-nav .menu-item > a {
	padding: 1rem 1.5rem;
}

.menu-item > a {
	line-height: 23px;
	position: relative;
}

.menu__arrow {
	transition: transform 0.3s !important;
}

.menu-item:hover .menu__arrow {
	transform: rotate(180deg);
}

.menu-item > a:after {
	background-color: currentColor;
	bottom: calc(1.25rem - 5px);
	content: "";
	height: 2px;
	left: 1rem;
	position: absolute;
	transition: width 0.2s ease-in-out;
	width: 0;
}

.menu-nav .menu-item > a:after {
	background-color: #000;
	bottom: calc(0.75rem - 12px);
	left: 1.5rem;
}

.menu-nav .menu-item:hover > a:after {
	width: calc(100% - 3rem);
}

.submenu-link {
	color: #000;
	display: block;
	font-weight: 400;
	overflow: hidden;
	padding: 0.25rem 0.75rem;
	transition: all 0.3s;
	white-space: normal;
}

.submenu-item:hover > a.submenu-link {
	background: rgba(61, 61, 80, 0.09);
	color: #000;
}

.menu-item:hover .menu__dropdown {
	opacity: 1;
	pointer-events: auto !important;
	transform: translateZ(0) !important;
	visibility: visible;
}

.container-fluid {
	--offset-x: 1rem;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(1620px + var(--offset-x) * 2);
	padding-left: var(--offset-x);
	padding-right: var(--offset-x);
	width: 100%;
}

.menu-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	padding: 0;
}
.menu-button .line {
	/* fill: none;
  stroke: black; */
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button .line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}
.menu-button .line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}
.menu-button .line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}
.menu-button.opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}
.menu-button.opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}
.menu-button.opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.offcanvas {
	width: 450px;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	background: #fff;
	z-index: 500;
	-webkit-transform: translateX(-450px);
	-ms-transform: translateX(-450px);
	transform: translateX(-450px);
	-webkit-transition: -webkit-transform 0.2s;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

#root {
	-webkit-transition: -webkit-transform 0.2s;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

@media (max-width: 1023px) {
	.menu-opened #root {
		-webkit-transform: translateX(450px);
		-ms-transform: translateX(450px);
		transform: translateX(450px);
	}

	.menu-opened .offcanvas {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.menu-opened .menu-button {
		position: absolute;
		right: 0;
		z-index: 1000;
		transform: translateX(-460px);
	}
	.menu-opened #root {
		-webkit-transform: translateX(450px);
		-ms-transform: translateX(450px);
		transform: translateX(450px);
	}
}
