@media screen and (min-width: 1280px) {
	:hover .sf-slider__controls .sf-slider__controls-button {
		left: 1.5rem;
		opacity: 1;
	}
	:hover .sf-slider__controls .sf-slider__controls-next {
		right: 1.5rem;
	}
}
.swiper-wrapper {
	margin: 0;
}

.swiper-container-initialized .swiper-slide:not(.sf-slider--first) {
	display: block;
}
.sf__slider {
	transition: height 0.25s ease;
}
.sf__slider--adapt .sf__slide-media {
	height: 100%;
}
.sf__slider--adapt .sf__slide-bg-mobile {
	backface-visibility: hidden;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: scale(1.01) translateZ(0);
	transform-origin: center;
	transition: all 3s;
}
@media (min-width: 768px) {
	.sf__slider:not(.sf__slider--adapt).sf__slider--small .sf__slide-media {
		height: 42vh;
	}

	.sf__slider:not(.sf__slider--adapt).sf__slider--medium .sf__slide-media {
		height: 62vh;
	}

	.sf__slider:not(.sf__slider--adapt).sf__slider--large .sf__slide-media {
		height: 75vh;
	}

	.sf__slider:not(.sf__slider--adapt).sf__slider--fullscreen
		.sf__slide-media {
		height: calc(
			100vh -
				var(--main-content-padding-top, var(--sf-header-height, 0px)) -
				var(--sf-topbar-height, 0px) -
				var(--sf-announcement-height, 0px)
		);
	}
}
.sf-slider__controls-button {
	left: 0;
	opacity: 0;
	transition: all 0.3s;
}

.swiper-slide .sf__slide-content:not(.sf__slide-content--mobile) {
	opacity: 0;
	transform: translate3d(0, 60px, 0);
	max-width: 72rem;
}
.sf-slider__controls .sf-slider__controls-next {
	left: auto !important;
	right: 0;
}
@media screen and (max-width: 767px) {
	.sf-slider__controls {
		margin: 0;
	}
}

.sf__slide-block.slide__block-desktop a.sf__btn-secondary.content_above {
	border-color: var(--btn-color, #000);
	color: var(--btn-color, #000);
}

.sf__slide-block.slide__block-desktop a.sf__btn-secondary.content_above:hover {
	background: var(--btn-color) !important;
	border-color: var(--btn-color) !important;
	box-shadow: 0 0 0 0.2rem var(--btn-color) !important;
	color: var(--btn-color-hover) !important;
}

.sf__slide-block.slide__block-desktop a.sf__btn-link.content_above {
	color: var(--btn-color, #000);
}

.sf__slide-block.slide__block-desktop a.sf__btn-link.content_above:after,
.sf__slide-block.slide__block-desktop a.sf__btn-link.content_above:before {
	background-color: var(--btn-color, #000);
}
.sf__slide-bg img {
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}
@media (min-width: 768px) {
	.sf__slide-block.slide__block-desktop a.sf__btn-secondary {
		border-color: var(--btn-color, #000);
		color: var(--btn-color, #000);
	}

	.sf__slide-block.slide__block-desktop a.sf__btn-secondary:hover {
		background: var(--btn-color) !important;
		border-color: var(--btn-color) !important;
		box-shadow: 0 0 0 0.2rem var(--btn-color) !important;
		color: var(--btn-color-hover) !important;
	}

	.sf__slide-block.slide__block-desktop a.sf__btn-link {
		color: var(--btn-color, #000);
	}

	.sf__slide-block.slide__block-desktop a.sf__btn-link:after,
	.sf__slide-block.slide__block-desktop a.sf__btn-link:before {
		background-color: var(--btn-color, #000);
	}
	[class*="sf-slider__pagination"] .sf-slider__controls {
		margin: 0;
	}
	[class*="sf-slider__pagination"] .swiper-pagination {
		display: inline-flex;
		flex-flow: column;
		left: 2.5rem;
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: auto;
	}
	[class*="sf-slider__pagination"] .swiper-pagination-bullet {
		margin: 10px 0;
	}
	.sf-slider__pagination--right .swiper-pagination {
		left: auto;
		right: 2.5rem;
	}
}
@media (max-width: 767px) {
	.swiper-pagination {
		bottom: 0;
		position: static;
		width: auto;
	}
	.sf__slide-block--content-stack .sf__slide-block {
		position: static !important;
	}
	.sf__slide-block--content-stack .swiper-pagination {
		margin: 0;
		position: static !important;
		width: auto !important;
	}
	.sf-slider__controls-button {
		border: none;
		color: #000;
		opacity: 1;
		position: relative;
		transform: none;
	}

	.sf__slide-content .slide__block-link.sf__btn:not(.sf__btn-link) {
		padding-bottom: 7px;
		padding-top: 7px;
	}
}
.sf__slide-block[class*="--middle-"] {
	align-items: center;
}
.sf__slide-block[class*="--top-"] {
	align-items: flex-start;
}
.sf__slide-block[class*="--bottom-"] {
	align-items: flex-end;
}
.sf__slide-block--bottom-center,
.sf__slide-block--middle-center,
.sf__slide-block--top-center {
	justify-content: center;
}
.sf__slide-block--bottom-left,
.sf__slide-block--middle-left,
.sf__slide-block--top-left {
	justify-content: flex-start;
}
.sf__slide-block--bottom-right,
.sf__slide-block--middle-right,
.sf__slide-block--top-right {
	justify-content: flex-end;
}
.sf__slideshow-overlay:before {
	background-color: var(--color-image-overlay);
	bottom: 0;
	content: "";
	left: 0;
	opacity: var(--opacity-image-overlay);
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
}
.sf__slide-bg,
.sf__slide-bg-mobile {
	pointer-events: none;
}
.sf__slide-bg {
	backface-visibility: hidden;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: scale(1.01) translateZ(0);
	transform-origin: center;
	transition: all 3s;
}
.swiper-slide-active .sf__slide-bg {
	backface-visibility: hidden;
	transform: scale(1) translateZ(0);
}
.sf__slide-bg video {
	height: 100%;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}
.swiper-slide .sf__slide-content,
.swiper-slide .sf__slide-footer {
	opacity: 0;
}
.swiper-slide .sf__slide-content:not(.sf__slide-content--mobile),
.swiper-slide .sf__slide-footer:not(.sf__slide-content--mobile) {
	animation-name: none;
}
.swiper-slide.swiper-slide-active .sf__slide-content {
	opacity: 1;
}
.swiper-slide.swiper-slide-active
	.sf__slide-content:not(.sf__slide-content--mobile) {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: moPopUp;
}
.swiper-slide.swiper-slide-active .sf__slide-footer {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: moLeftToRight;
	opacity: 1;
}
@media screen and (max-width: 767px) {
	.swiper-slide .sf__slide-footer {
		display: none;
	}
}
.sf-slider__link {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.sf-slider--has-link .sf__slide-content {
	pointer-events: none;
	z-index: 2;
}
.sf-slider--has-link.swiper-slide-active .sf__mobile-button,
.sf-slider--has-link.swiper-slide-active .slide__block-link {
	pointer-events: auto;
}
@media (max-width: 767px) {
	.sf__slide-bg video,
	.sf__slide-image--video .sf__slide-bg {
		position: static;
	}
	.sf__slide-block--content-stack .sf__slide-content {
		max-width: none;
		text-align: center;
		width: 100%;
	}
}
